.testimonials-body{
    border-top: var(--BORDER-TWO);
    position: relative;
    z-index: 1;
}

.testimonial-container{
    font-family: var(--FONT-ONE); 
    color: var(--FONT-COLOR-THREE)
}

.testimonials-form-header{
    font-family: var(--FONT-THREE);
    color: var(--FONT-COLOR-THREE);
}
.testimonials-form{
    /* border-top: var(--BORDER-TWO); */
    border-bottom: var(--BORDER-ONE);
    position: relative;
    z-index: 1;
}

.first-name,
.last-name,
.experience{
    position: relative;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    border: var(--BORDER-TWO);
    outline: var(--BORDER-FOUR);
    font-family: var(--FONT-ONE); 
}

.first-name::placeholder,
.last-name::placeholder,
.experience::placeholder{
    color: var(--FONT-COLOR-SIX);
    font-family: var(--FONT-ONE); 
}

.post-btn{
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    border: var(--BORDER-TWO);
    outline: var(--BORDER-FOUR);
    transition: all 500ms ease-in-out;
    font-family: var(--FONT-THREE); 
}

.post-btn:hover{
    background-color: var(--BACKGROUND-COLOR-ONE);
    color: var(--FONT-COLOR-TWO);
    border: var(--BORDER-ONE);
    outline: var(--BORDER-FIVE);
}