.testimonials-body{
    border-top: var(--BORDER-TWO);
    position: relative;
    z-index: 1;
}

.testimonial-container{
    font-family: var(--FONT-ONE); 
    color: var(--FONT-COLOR-THREE);  
}

.testimonial{
    border-bottom: var(--BORDER-SIX);
}

.user-name,
.user-experience,
.testimonials-form-header,
.small-testimonials-form-header{
    text-shadow: var(--TEXT-SHADOW-TWO);
}


.testimonials-form-header,
.small-testimonials-form-header{
    font-family: var(--FONT-THREE);
    color: var(--FONT-COLOR-THREE);
}
.testimonials-form{
    border-bottom: var(--BORDER-ONE);
    position: relative;
    z-index: 1;
}

.first-name,
.last-name,
.experience{
    position: relative;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-ONE); 
    box-shadow: var(--BOX-SHADOW-THREE);
    outline: none;
}

.first-name::placeholder,
.last-name::placeholder,
.experience::placeholder{
    color: var(--FONT-COLOR-SIX);
    font-family: var(--FONT-ONE); 
}

.post-btn{
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    transition: all 500ms ease-in-out;
    font-family: var(--FONT-THREE); 
    box-shadow: var(--BOX-SHADOW-ONE);
}

.post-btn:hover{
    background-color: var(--BACKGROUND-COLOR-ONE);
    color: var(--FONT-COLOR-TWO);
    box-shadow: var(--BOX-SHADOW-FOUR);
}