.landing-main{
  position: relative;
  border-top: var(--BORDER-TWO);
  border-bottom: var(--BORDER-TWO);
  animation: landing-fade-in 2s linear 1 both;
}

@keyframes landing-fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  } 
}

.landing-main-two{
  animation: landing-fade-out 1.5s linear 3s 1 both;
}
@keyframes landing-fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  } 
}

.zep-symbols-landing,
.landing-footer{
  background-color: var(--BACKGROUND-COLOR-ONE);
  border-top: var(--BORDER-ONE);
  border-bottom: var(--BORDER-ONE);
}

.zep-symbols,
.site-credit{
  color: var(--FONT-COLOR-TWO);
  background-color: var(--BACKGROUND-COLOR-ONE);
}

.landing-body{
  position: relative;
  font-family: var(--FONT-TWO);
  border-top: var(--BORDER-TWO);
  border-bottom: var(--BORDER-TWO);;
  background: var(--BACKGROUND-ONE)
}

.landing-body::before{
  position: absolute;
  content: '';
  background-size:cover;
  background-image: url('../../../public/OneCropCircle3.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .25;  
  overflow: hidden;  
}

.led-detroit,
.description{
  position: relative;
  z-index: 1;
  color: #B59330;
  background-color: #100D04;
  box-shadow: 
  0 0 0 4px #623f17, 
  0 0 0 8px #100D04,
  0 0 0 12px #B59330,
  0 0 0 16px #100D04;
}

.small-description{
  position: relative;
  z-index: 1;
  color: #B59330;
  background-color: #100D04;
  box-shadow: 
  0 0 0 4px #623f17, 
  0 0 0 8px #100D04,
  0 0 0 12px #B59330,
  0 0 0 16px #100D04;
  width: 340px;
  height: 340px;
  border-radius: 50%;
}

.medium-description{
  position: relative;
  z-index: 1;
  color: #B59330;
  background-color: #100D04;
  box-shadow: 
  0 0 0 4px #623f17, 
  0 0 0 8px #100D04,
  0 0 0 12px #B59330,
  0 0 0 16px #100D04;
  width: 575px;
  height: 575px;
  border-radius: 50%;
}

.enter-btn{
  background-color: #100D04;
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #B59330;
  transition: all 500ms ease-in-out;
  box-shadow: 
  0 0 0 2px #623f17, 
  0 0 0 4px #100D04,
  0 0 0 6px #B59330,
  0 0 0 8px #100D04;;
}

.enter-btn:hover{
  background-color: #B59330;
  color: #100D04;
  box-shadow: 
  0 0 0 2px #100D04,
  0 0 0 4px #623f17, 
  0 0 0 6px #100D04,
  0 0 0 8px #B59330; 
}

.landing-footer{
  position: relative;
  bottom: 0;
  left: 0;
  font-family: 'Kashmir', sans-serif;
}
 