.card-container {
    opacity: 1;
    z-index: 1;
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-ONE);
    position: relative;
}

.single-card{
    border-radius: 50%;
    background-color: var(--BACKGROUND-COLOR-TWO);   
    box-shadow: var(--BOX-SHADOW-THREE);
}


.date,
.venue,
.tckt-btn,
.city{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    z-index: 1;
}

.venue,
.tckt-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
    transition: color .5s ease-in-out;
}

.venue:hover,
.tckt-btn:hover{
    color: var(--FONT-COLOR-SIX)
}


