.single-card{
    border: 1px solid rgba(128, 128, 128, 0.36);
    border-radius: 50%;
    background-color: var(--BACKGROUND-COLOR-ONE);
    z-index: 1;
}

.date,
.venue,
.tckt-btn{
    color: var(--FONT-COLOR-TWO);
    font-family: var(--FONT-THREE);
    font-size: x-large;
    z-index: 1;
    background-color: transparent;
}