#band-member,
.mobile-member-pic {
    position: relative;
    z-index: 1;
    filter: sepia(1);
    /* width: 100%;
    height: auto; */
}

.member-pic{
    filter: sepia(1);
    z-index: 1;
    position: relative;
}

.member-name{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    z-index: 1;
}

.mobile-member-header,
.artists{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    z-index: 1;
}

.media-icon{
    color: var(--FONT-COLOR-THREE);
    z-index: 1;
}

.img-bck{
    width: 50px;
    height: 5opx;
    background-color: var(--BACKGROUND-COLOR-ONE);
}