.member-pic,
.member-pic-container,
.mobile-member-pic,
.member-name,
.artists {
    position: relative;
    z-index: 2;
}

.img-container{
    border: var(--BORDER-THREE);

}
.member-pic,
.mobile-member-pic{
filter: sepia(1);
position: relative;
z-index: 1;
}

.band-member-main{
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-ONE);
    z-index: 1;
    position: relative;
}
.member-container,
.mobile-member-container{
    position: relative;
    background-color: var(--BACKGROUND-COLOR-TWO);
    z-index: 1;
    border: var(--BORDER-TWO)
}

.member-name{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    z-index: 1;
}

.mobile-member-header,
.artists{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    z-index: 1;
}

.media-icon{
    color: var(--FONT-COLOR-THREE);
    z-index: 1;
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

.media-icon:hover{
    color: var(--FONT-COLOR-FOUR)
}

