#Band {
    position: relative;
    z-index: 1;
}

#Band::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/CropCirclePicFour.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;
    filter: sepia(.5);
}

.band-header{
    color: var(--FONT-COLOR-TWO);
    width: 100vw;
    height: 5rem;
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: #B59330;
    font-family: var(--FONT-TWO);
}

.band-header::before{
    content: '';
    background-image: url('/ZeppelinSymbolTwo.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top center;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3rem;
    margin-right: 3rem;
    opacity: .4;
    z-index: 0;
}


.band-header::after{
    content: '';
    background-image: url('/ZeppelinSymbolTwo.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top center;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3rem;
    margin-left: 3rem;
    opacity: .4;
    z-index: 0;
}


.band-top-btn-container{
    background-color: var(--BACKGROUND-COLOR-TWO);
    position: relative;
    z-index: 1;
}

.band-top-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
}

.band-top-btn::before{
    content: attr(data-hover);
    color: var(--FONT-COLOR-FOUR);
    position: absolute;
    top: 12px;
    left: 0;
    width: 0%;
    transition: width .5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: var(--HOVER-BORDER-ONE);

}

.band-top-btn:hover::before{
    width: 100%;
}

