#Videos {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

#Videos::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/CropCirclesPic.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;
    filter: grayscale(.4);
}

.videos-header{
    color: var(--FONT-COLOR-TWO);
    width: 100vw;
    height: 5rem;
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-TWO);
}


.videos-top-btn-container{
    background-color: var(--BACKGROUND-COLOR-TWO);
    position: relative;
    z-index: 1;
}

.videos-top-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
}

.videos-top-btn::before{
    content: attr(data-hover);
    color: var(--FONT-COLOR-FOUR);
    position: absolute;
    top: 12px;
    left: 0;
    width: 0%;
    transition: width .5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: var(--HOVER-BORDER-BOTTOM);
}

.videos-top-btn:hover::before{
    width: 100%;
}

