#Contact {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

.contact-header{
    color: var(--FONT-COLOR-TWO);
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-TWO);
}


.contact-top-btn-container{
    background-color: var(--BACKGROUND-COLOR-TWO);
    position: relative;
    z-index: 1;
}

.contact-top-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
}

.contact-top-btn::before{
    content: attr(data-hover);
    color: firebrick;
    position: absolute;
    top: 12px;
    left: 0;
    width: 0%;
    transition: width .5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.contact-top-btn:hover::before{
    width: 100%;
}

