.contact-form{
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-ONE);
    position: relative;
    z-index: 1;
}

.name,
.email,
.subject,
.message{
    position: relative;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    /* border: var(--BORDER-TWO);
    outline: var(--BORDER-FOUR); */
    font-family: var(--FONT-ONE);
    box-shadow: var(--BOX-SHADOW-THREE);
    outline: none;
}

.name::placeholder,
.email::placeholder,
.subject::placeholder,
.message::placeholder{
    color: var(--FONT-COLOR-SIX);
    font-family: var(--FONT-ONE);
}

.submit-btn{
    background-color: var(--BACKGROUND-COLOR-TWO);
    color: var(--FONT-COLOR-THREE);
    /* border: var(--BORDER-TWO);
    outline: var(--BORDER-FOUR); */
    box-shadow: var(--BOX-SHADOW-ONE);
    transition: all 500ms ease-in-out;
    font-family: var(--FONT-THREE);
}

.submit-btn:hover{
    background-color: var(--BACKGROUND-COLOR-ONE);
    color: var(--FONT-COLOR-TWO);
    /* border: var(--BORDER-ONE);
    outline: var(--BORDER-FIVE); */
    box-shadow: var(--BOX-SHADOW-FOUR);
}