.nav-btn{
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-TWO);
    transition: color .5s ease-in-out;
    /* transition: background-color .5s ease-in-out; */
}

.nav-btn:hover{
    color: var(--FONT-COLOR-SIX);
    /* background-color: var(--BACKGROUND-COLOR-ONE); */
}

.nav-btn{
    position: relative;
    display: inline-block;
    padding-bottom: 7px;
    text-align: center;
}

.nav-btn::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.nav-btn::after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.nav-btn:hover::before,
.nav-btn:hover::after{
    width: 50%;
}

