.video-main {
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-ONE);
    position: relative;
    z-index: 1;
}

.ro-video{
    /* border: var(--BORDER-TWO);
    outline: var(--BORDER-FOUR) */
    box-shadow: var(--BOX-SHADOW-ONE);
}