.footer{
    background-color: var(--BACKGROUND-COLOR-ONE);
    border-top: var(--BORDER-ONE);
}

.mailto,
.phone,
.copyright,
.dev-link{
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-THREE);
    color: #100D04;
    position: relative;
    display: inline-block;
}

.mailto,
.phone,
.dev-link{
    transition: color .5s ease-in-out;
}

.mailto:hover,
.phone:hover,
.dev-link:hover{
    color: var(--FONT-COLOR-SIX);
}