#Testimonials {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

/* #Testimonials::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/CropCirclesPic.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;
    filter: grayscale(.4);
} */

.testimonials-header{
    color: var(--FONT-COLOR-TWO);
    width: 100vw;
    height: 5rem;
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-TWO);
    border-top: var(--BORDER-ONE);
    border-bottom: var(--BORDER-ONE);
}


.testimonials-top-btn-container{
    background-color: var(--BACKGROUND-COLOR-TWO);
    position: relative;
    z-index: 1;
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-TWO);
}

.testimonials-top-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
    transition: color .5s ease-in-out;
}

.testimonials-top-btn:hover{
    color: var(--FONT-COLOR-FOUR)
}

.testimonials-top-btn::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.testimonials-top-btn::after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.testimonials-top-btn:hover::before,
.testimonials-top-btn:hover::after{
    width: 50%;
}
