#Shows {
    position: relative;
    z-index: 1;
    width: 100%;
}

/* #Shows::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/CropCirclesPic.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;    
    filter: sepia(.5)
} */

.show-card-container::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/FourCropCircle2.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .25;    
    /* filter: sepia(.1) */
}

@media (min-width: 481px) and (max-width: 830px) {
    .band-member-container::before {
     background-image: url('../../../public/FourCropCircle2.png');
     }
 }

@media (max-width: 480px) {
    .show-card-container::before {
     background-image: url('../../../public/SixCropCircle2.png');
     }
 }

.shows-header{
    color: var(--FONT-COLOR-TWO);
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-TWO);
    border-top: var(--BORDER-ONE);
    border-bottom: var(--BORDER-ONE);
}

.shows-top-btn-container{
    background-color: var(--BACKGROUND-COLOR-TWO);
    position: relative;
    z-index: 1;
    border-top: var(--BORDER-TWO);
    border-bottom: var(--BORDER-TWO);
}

.shows-top-btn{
    position: relative;
    z-index: 1;
    color: var(--FONT-COLOR-THREE);
    font-family: var(--FONT-THREE);
    display: inline-block;
    transition: color .5s ease-in-out;
}

.shows-top-btn:hover{
    color: var(--FONT-COLOR-FOUR)
}

.shows-top-btn::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.shows-top-btn::after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    border-bottom: var(--HOVER-BORDER-ONE);
    transition: width .5s ease-in-out;
}

.shows-top-btn:hover::before,
.shows-top-btn:hover::after{
    width: 50%;
}
