#Shows {
    position: relative;
    z-index: 1;
    width: 100%;
}

#Shows::before{
    position: absolute;
    content: '';
    background-size:cover;
    background-image: url('../../../public/CropCirclesPic.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;
    filter: sepia(.5)
}

.shows-header{
    color: var(--FONT-COLOR-TWO);
    position: relative;
    opacity: 1;
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR-ONE);
    font-family: var(--FONT-TWO);
}
