  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: var(--BACKGROUND-COLOR-TWO); */

    /* variables */

    /* fonts */
    --FONT-TWO: 'Kashmir', sans-serif;
    --FONT-THREE: "Bebas Neue", sans-serif;
    
    /* colors */
    --FONT-COLOR-ONE: whitesmoke;
    --FONT-COLOR-TWO: #100D04;
    --FONT-COLOR-THREE: #B59330;
    --FONT-COLOR-FOUR: #981F1F;
    --FONT-COLOR-FIVE: #33180B;

    --BACKGROUND-COLOR-ONE: #B59330;
    --BACKGROUND-COLOR-TWO: #100D04;

    /* borders */
    --HOVER-BORDER-ONE: 2px solid #981F1F;

    --BORDER-ONE: 2px solid #100D04;
    --BORDER-TWO: 2px solid #B59330;
    --BORDER-THREE: 1px solid #B59330;
  }

  html{
    background-color: var(--BACKGROUND-COLOR-TWO);
    scroll-behavior: smooth;
  }

  main{
    font-family: var(--FONT-ONE);
  }

  #app-main-container{
    animation: main-fade-in 2s linear 1 both;
  }

  @keyframes main-fade-in {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }